server {
    listen 80;
    listen [::]:80;

    server_name apos.rolfregehr.com.br;

    root /var/www/apos.rolfregehr.com.br/current;
    index index.html;

    location = /index.html {
        add_header Cache-Control "no-cache";
    }

    location / {
        try_files $uri $uri/ =404;
    }

    location ~* \.(css|js|png|jpg|jpeg|gif|svg|ico|webp|woff2?)$ {
        expires 1h;
        add_header Cache-Control "public";
    }
}
